 <div class="sidebar">
        <div class="logo-area"><h2><i class="fas fa-print"></i> پرینت‌اد</h2></div>
        <div class="user-card">
            <div class="avatar" id="deskAvatar">ا</div>
            <div class="user-text"><h4 id="deskName">امیرحسین باقری</h4><p id="deskEmail">amir@printpanel.com</p></div>
            <button id="editDeskBtn" style="background:none; color:#c9a6ff; font-size:1rem;"><i class="fas fa-edit"></i></button>
        </div>
        <div class="nav-menu">
            <a href='{% url "panel:index" %}'  class="nav-item active" ><i class="fas fa-tachometer-alt"></i> داشبورد</a>
            <a href='{% url "panel:admin_print_orders_panel" %}' class="nav-item" ><i class="fas fa-print"></i> سفارشات چاپی</a>
            <a href='{% url "panel:admin_orders_panel" %}' class="nav-item" ><i class="fas fa-file-alt"></i> سفارشات غیر چاپی</a>
            <a href='{% url "panel:admin_payments_panel" %}' class="nav-item" ><i class="fas fa-sliders-h"></i>پرداختی </a>
            <a href='{% url "panel:admin_slider_panel" %}' class="nav-item"><i class="fas fa-users"></i>  تنظیمات سایت</a>
        </div>
        <button id="logoutBtnDesk" class="nav-item" style="margin-top: auto;"><i class="fas fa-sign-out-alt"></i> خروج</button>
    </div>