<aside class="sidebar" id="sidebarDesktop">
    <div class="logo-side">
        <div class="logo-icon-side">
            <img src="/media/images/deco.png" alt="Logo">
        </div>
        <div class="logo-text-side"><h2>Deco B2B</h2><span>تخصصی B2B</span></div>
    </div>
    <ul class="nav-menu-side">
        <li class="nav-item-side active" data-tab="shop"><i class="fas fa-store"></i> محصولات</li>
        <a href='{% url "order:user_orders" %}' ><i class="fas fa-truck"></i> سفارشات</a>
        <li class="nav-item-side" data-tab="payments"><i class="fas fa-credit-card"></i> پرداخت</li>
        <li class="nav-item-side" data-tab="wishlist"><i class="fas fa-heart"></i> علاقمندی</li>
        <li class="nav-item-side" data-tab="rewards"><i class="fas fa-gift"></i> پاداش</li>
        <li class="nav-item-side" data-tab="portfolio-user"><i class="fas fa-images"></i> نمونه کارها</li>
        <li class="nav-item-side" data-tab="upload"><i class="fas fa-cloud-upload-alt"></i> آپلود نمونه کار</li>
    </ul>
</aside>